# Travis CI用 requirements。
Pillow
autopep8
better_exceptions
chainercv
diskcache
flake8
flake8-docstrings
flake8-pep257
flask
git+https://github.com/cocodataset/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
h5py
keras
matplotlib
numpy
opencv-python
pandas
pydot
pylint
pytest
scikit-learn
scipy
sqlalchemy
tensorflow==1.10.0
tqdm
