# Travis CI用 requirements。
Pillow
autopep8
better_exceptions
chainercv
diskcache
flake8
flake8-docstrings
flask
git+https://github.com/cocodataset/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
h5py
keras
matplotlib
numpy
opencv-python
pandas
pep8
pydot
pylint
pytest
scikit-learn
scipy
sqlalchemy
tensorflow
tqdm
