# Travis CI用
Pillow
albumentations
attrs>=19.2.0  # flake8-bugbear 20.1.4 has requirement attrs>=19.2.0
better_exceptions
black
category_encoders
chainercv
efficientnet
flake8
flake8-bugbear
image-classifiers
keras2onnx>=1.7.0
matplotlib
mypy
nbformat
numba
numpy<1.18,>=1.16.0  # tensorflow-cpu 2.2.0 has requirement numpy<2.0,>=1.16.0
onnxmltools
opencv-python
pandas
pycocotools
pydot
pylint
pytest
python-dotenv
requests
scikit-image
scikit-learn
scipy
setuptools>=41.0.0  # tensorboard 2.2.1 has requirement setuptools>=41.0.0
six>=1.13.0
tensorflow-cpu>=2.1.0
tf2cv
tf2onnx>=1.6.1
tqdm
