# Travis CI用 requirements。
Pillow
albumentations
better_exceptions
black
category_encoders
chainercv
efficientnet
flake8
flake8-bugbear
image-classifiers
keras2onnx
matplotlib
mypy
nbformat
numba
numpy
onnxmltools
opencv-python
pandas
pycocotools
pydot
pylint
pytest
python-dotenv
requests
scikit-image
scikit-learn
scipy
six>=1.13.0
tensorflow-cpu>=2.1.0
tf2cv
tf2onnx
tqdm
