# Travis CI用 requirements。
Pillow
albumentations
better_exceptions
black
category_encoders
diskcache
flake8
flake8-bugbear
git+https://github.com/cocodataset/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
keras2onnx
matplotlib
mypy
numba
numpy
onnxmltools
opencv-python
pandas
pydot
pylint
pytest
python-dotenv
requests
scikit-image
scikit-learn
scipy
tensorflow>=2.0.0
tqdm
